<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Posts</title>

    <style>
        form{
            display: inline;
        }
    </style>
</head>

<body>
    <div class="container-fluid row mt-4">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">{{userInfo.name}}</h3>
                    <p class="card-text">@{{userInfo.profile}}</p>
                    <p class="card-text">{{userInfo.headline}}</p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="d-flex text-muted pt-3 m-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
                            dy=".3em">32x32</text>
                    </svg>

                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark">@Entri_Telugu</strong>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla
                        fringilla elit nec bibendum. Suspendisse potenti. Donec vitae posuere enim. Maecenas sit amet
                        ornare nunc. Proin id imperdiet orci. Vestibulum lorem tortor, porta et lorem sed, vestibulum
                        auctor justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus</p>
                </div>
                <span class="m-3">
                    <form action="/like" method="post">
                        <input type="hidden" name="content" value="{{content}}">
                        <button class="btn btn-danger" type="submit">like</button>
                    </form>
                    <button class="btn btn-primary" type="button" disabled>3</button>
                    <form action="/share" method="post">
                        <input type="hidden" name="content" value="{{content}}">
                        <button class="btn btn-success" type="button">Shares</button>
                    </form>
                    <button class="btn btn-primary" type="submit" disabled>5</button>
                </span>

            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>